<TR>
  <TD>{{ lec_num }}</TD>
  <TD>{{ lec_date }}</TD>
  <TD>{{ description }}</TD>
  <TD>{% for reading in readings %}<a href="{{ reading.url }}">{{ reading.title }}</a>&nbsp;{% endfor %}</TD>
</TR>
